<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go ASCII Art</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>ASCII Art Web</h1>

    <form action="/ascii-art" method="POST">
        <textarea name="text" placeholder="Enter your text here..." autofocus required>{{.InputText}}</textarea>

        <div class="banner-selector">
            <label><input type="radio" name="banner" value="standard" checked> Standard</label>
            <label><input type="radio" name="banner" value="shadow"> Shadow</label>
            <label><input type="radio" name="banner" value="thinkertoy"> Thinkertoy</label>
        </div>

        <button type="submit">GENERATE ART</button>
    </form>



    {{if .Result}}
    <div class="result-container">
        <h3>Generated Output:</h3>
        <pre>{{.Result}}</pre>
    </div>
    {{end}}
</body>

</html>